PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/manmeet_creations
JWT_SECRET=your_jwt_secret_key_here
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
ADMIN_EMAIL=kmeet7270@gmail.com
WHATSAPP_PHONE=916239661708
FRONTEND_URL=http://localhost:5173
